## Terraform vars
# server_url
export TF_VAR_server_url="<G8's url>"

# client_jwt
export TF_VAR_client_jwt="<Your JWT token>"

# account
export TF_VAR_account="<Your OVC Account>"

# cloudspace name
export TF_VAR_cloudspace="<New cloudspace name>"

# cluster nodes
export TF_VAR_master_count=1
export TF_VAR_worker_count=3

# node resources
export TF_VAR_disksize=10
export TF_VAR_memory=2048

export TF_VAR_vcpus=2

# ssh key to load on all nodes
export TF_VAR_ssh_key="<Your SSH KEY>"

## K8S config
# size of the persistent storage
export persistent_volume_size=<Size of persistent volume in GiB>

# path where cluster config file will be uploaded
export KUBECONFIG=<Path to the Kubernetess config file>
