## Terraform vars
# server_url
export TF_VAR_server_url="<G8's url>"

# client_jwt
export TF_VAR_client_jwt="<Your JWT token>"

# account
export TF_VAR_account="<Your OVC Account>"

# cloudspace name
export TF_VAR_cs_name="<Cloudspace name>"

# cluster nodes
export TF_VAR_master_count=1
export TF_VAR_worker_count=3

# machine data disk size
export TF_VAR_disksize=10

# machine memory
export TF_VAR_memory=2048

# number of machine CPUs
export TF_VAR_vcpus=2
export TF_VAR_ssh_key="<Your SSH KEY>"

# K8S config
export server_url=$TF_VAR_server_url
export account=$TF_VAR_account
export client_jwt=$TF_VAR_client_jwt
export k8s_config=k8s_config
export persistent_volume_size=<Size of persistent volume in Gi>
