# Get from https://itsyou.online/#/settings
export CLIENT_ID=""
export CLIENT_SECRET=""

export ITSYOU_ONLINE_CLIENT_ID=$CLIENT_ID
export ITSYOU_ONLINE_CLIENT_SECRET=$CLIENT_SECRET
export TF_VAR_client_id=$CLIENT_ID
export TF_VAR_client_secret=$CLIENT_SECRET
